html{
	scroll-behavior: smooth;
}
body{
	background-color:white; 
}
.navbar{
	background-color: #04ABDF;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#apos{
	color:#04ABDF;
	font-family: 'Varela Round', sans-serif;
	font-size:120%;
}
.nav-item{
	font-size: 120%;
	font-weight: 700;
	padding:0% 5% 0% 5%;
}
.fa-home{
	color:black;
}
#HomePage{
	padding:10% 0% 10% 0%;
	margin-bottom: 100px;
}
#homeIMG img{
	padding:14%;
	border-radius: 150px;
}
.row h1{
	font-size: 450%;
	/*font-family: 'Muli', sans-serif;*/
	font-family: 'Varela Round', sans-serif;
/*	color: #04ABDF;*/
}
.btn-social-icon{
	display:block;
	margin-top: 3px;
	margin-bottom: 3px;
/*	color:#00455B;*/
	font-size: 100%;
}
.social-contacts{
	position:fixed;
	z-index: 999;
	padding :1.5%;
	height:100%;
}
#centerthis{
	margin-bottom: auto;
	margin-top: auto;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
.card-body{
	padding:3%;
}
.section-heading{
	font-size: 380%;
	font-family: 'Muli', sans-serif;
/*	color: #0090BD;*/
}
#Aboutme1{
	font-size: 150%;
	padding:7%;
}
.container{
	margin-bottom: 40px;
}