html.dark{
	--background-color: #0a192f;
	--navbarColor:#0a192f;
	--socialPanelColor:#FF5733;
	--TextColor:floralwhite;
	--FAcolor:floralwhite;
	--BulbColoroff:floralwhite;
	--BulbColoron:#0a192f;
	--AposColor:#FF5733;
	--navItemColor:floralwhite;
}
html{
	--background-color: white;
	--navbarColor:white;
	--socialPanelColor:#04ABDF/*#FFC300*/;
	--TextColor:black;
	--FAcolor:black;
	--BulbColoroff:white;
	--BulbColoron:black;
	--AposColor:#04ABDF;
	--navItemColor:black;
}
#particles-js{
	z-index: -1;
	position:fixed;
	top:0;
	height: 100vh;
	width:100vw;
}
html{
	scroll-behavior: smooth;
	
}

body{
	background-color:var(--background-color); 
	margin:0px;
	padding:0%;
}

#offBulb{
	color:var(--BulbColoroff);
}
#onBulb{
	color:var(--BulbColoron);
}
h1,h2,h3,h4,p,a span,li{
	color:var(--TextColor);
}
.main,.row{
	margin:0px;
	padding:0%;
}
.navbar{
	background-color: var(--navbarColor);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.nav-item{

	font-size: 120%;
	font-weight: 600;
}
.navbar-nav .nav-link{
	color:var(--navItemColor);
	padding:20px;
}
.fa-home{
	color:var(--navItemColor);
}
#HomePage{
	padding:6% 0% 8% 0%;
	margin-bottom: 100px;
}
#hello{
	font-family: 'Varela Round', sans-serif;
	color:var(--navItemColor);
}
.apos,.name{
	color: var(--AposColor);
}
.btn-social-icon-custom{
	display:block;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 100%;
}
.social-contacts{
	position:fixed;
	z-index: 999;
	padding :1.5%;
	height:100%;
}
.colorMode{
	position:fixed;
	right: 0px;
	z-index:999;
	padding:1.5%;
	height:100%;

}
#heart{
	color: red;
	font-size: 150%;
}
#centerthisL{
	margin-bottom: auto;
	margin-top: auto;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	background-color: var(--socialPanelColor);
}

.card{
	background-color:var(--background-color);
	border: none;
}
.card-footer{
	background-color: var(--background-color);
	border: none;
	font-weight: bold;
	font-family: 'Varela Round', sans-serif;
	font-size: 130%;
}
.card-body{
	padding:3%;
}
.card-body img{
	border-radius: 10%;
}
.card:hover{
	cursor:pointer;
}
.section-heading{
	font-size: 380%;
	font-family: 'Varela Round', sans-serif;
}
#Aboutme,#Projects,#Aboutme1,#Aboutme2{
	padding:7%;
}

#Aboutme1,#Aboutme2{
	font-size: 150%;
}
.container{
	margin-bottom: 40px;
}
.color-change{
	color: var(--FAcolor);
}

.modal-header {
  background: var(--background-color);
  color: var(--TextColor);
}
.modal-header .close {
  color: var(--TextColor);
}
.modal-content{
	border-radius: 10%;
}
.modal-body {
  background: var(--background-color);
}
.modal-dialog{
	pointer-events: all;
}
.qoute{
	color:var(--socialPanelColor);
}
footer{
	font-family: 'Varela Round', sans-serif;
	text-align:center;
}
#contactpara,.contactbottom,.fa-bars{
	color:var(--FAcolor);
}
#contactpara{
	font-family: 'Varela Round', sans-serif;
	font-size:130%;
}
#developedby{
	font-size:90%;
	padding:auto;
	margin-top: 10px;
}

img{
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	padding-left: auto;
	padding-right: auto;

}

@media (min-width: 320px) {  
	#hello {font-size:265%;}
}
@media (min-width: 576px) {  
	#hello {font-size:360%;}
}
@media (min-width: 768px) {  
	#hello {font-size:427%;} 
}
@media (min-width: 992px) { 
	#hello {font-size:435%;} 
}
@media (min-width: 1200px) {  
	#hello {font-size:630%;} 
}


